<aside class ="col-md-3">
    <h4>Opciones</h4>
    <div class="list-group">
        <a href="{{ path('mtd_empleado_ver', { 'id': empleado.id }) }}" class="list-group-item">Ver Postulante</a>
        <a href="{{ path('mtd_postulante_editar', { 'id': empleado.id }) }}" class="list-group-item">Editar Postulante</a>
        <a href="{{ path('mtd_empleado_perfilTecnico', { 'id': empleado.id }) }}" class="list-group-item">Perfil Tecnico</a>
        <a href="{{ path('mtd_perfil_tecnico_editar', { 'id': empleado.id }) }}" class="list-group-item">Editar Perfil Tecnico</a>
        <a href="{{ path('mtd_empleado_documentos', { 'id': empleado.id }) }}" class="list-group-item">Agregar Documentos</a>
        <a href="{{ path('mtd_empleado_listar_documentos', { 'id': empleado.id }) }}" class="list-group-item">Ver Documentos</a>
        <a href="{{ path('mtd_empleado_proyectos_participa', { 'id': empleado.id }) }}" class="list-group-item">Proyectos en los que participa</a>
        <a href="{{ path('mtd_asistencia_empleado', { 'id': empleado.id }) }}" class="list-group-item">Registrar Asistencia</a>
        <a href="{{ path('mtd_asistencia_mostrar', { 'id': empleado.id }) }}" class="list-group-item">Ver Asistencia</a>
    </div>
</aside>