{% extends 'layout.html.twig' %}
    
{% block body %}
    {{ parent() }}
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
    
    <section class="jumbotron">
        <div class="container">
            <h2>Editar Perfil Tecnico de : {{postulante.apellido}} {{postulante.nombre}}</h2>
        </div>
    </section>
        
    <div class="container-fluid">
        <div class="row">
            
            {{ include('menuPostulante.html.twig')}}
            
            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Perfil Tecnico</h4>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('mtd_postulante_registrar_requisito', { 'id': postulante.id }) }}" method="post" class="form-horizontal" onsubmit="return verificar();">
                            <div class="row">
                                <div class ="form-group">
                                    <label for="categoria" class="control-label col-md-3">Categoria:</label>
                                    <select id="categoria" name="categoria" required="required" class="form-control inputGroup col-md-5" title="Seleccione una categoria" data-id="{{postulante.id}}">
                                        {% for categoria in todasCategorias %}
                                            {% if categoria.activo == true %}
                                                {% if categoria.id == categoriaSeleccionada.id %}
                                                    <option value="{{ categoria.id }}" selected="selected">{{ categoria.nombre | trans }}</option>
                                                {% else %}
                                                    <option value="{{ categoria.id }}">{{ categoria.nombre | trans }}</option>
                                                {%endif%}
                                            {%endif%}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class ="form-group">
                                    <label for="requisitos" class="control-label col-md-3">Requisitos que Cumple:</label>
                                    <div id="mostrarRequisitos" class=" inputGroup col-md-5">
                                        {% for requisitoCategoria in requisitosCategoria %}
                                            {% if requisitoCategoria.activo == true %}
                                                {% set contador = 0 %}
                                                {% for requisito in perfil %}
                                                    {% if requisito.requisito.id == requisitoCategoria.id and requisito.activo == true %}
                                                        {% set contador = contador + 1 %}
                                                    {%endif%}
                                                {% endfor %}
                                                {% if contador > 0%}
                                                    <div class="col-md-12">
                                                        <input name="requisitos[]" type="checkbox" value="{{ requisitoCategoria.id}}" checked>{{ requisitoCategoria.nombre | trans }}
                                                    </div>
                                                {% else %}
                                                    <div class="col-md-12">
                                                        <input name="requisitos[]" type="checkbox" value="{{ requisitoCategoria.id}}">{{ requisitoCategoria.nombre | trans }}
                                                    </div>
                                                {%endif%}
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class ="form-group">
                                <div class="control-label col-md-3">
                                    <button type="submit" id ="enviar" name="enviar" class="btn btn-primary"> Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/modificar/editaMostrarRequisitos.js') }}"></script>
{% endblock %}