<h2>Empleados para la categoria {{ categorias.nombre }}</h2>
<div class ="container">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th>Profesion</th>
                        <th>Categoria</th>
                        <th>Perfil Tecnico</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for postulante in postulantes %}
                            {% set break = false %}
                            {% for requisito in postulante.empleadoRequisito if not break %}
                                {% if requisito.activo == true and requisito.requisito.categoria.id == categorias.id %}
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                            {% if break == true %}
                                {% if postulante.contratado == false %}
                                    <tr>
                                        <td><strong>{{ postulante.apellido }}</strong></td>
                                        <td><strong>{{ postulante.nombre }}</strong></td>
                                        <td>{{ postulante.profesion }}</td>
                                        <td>{{ categorias.nombre }}</td>
                                        <td>
                                            {% for requisito in postulante.empleadoRequisito %}
                                                {% if requisito.activo == true %}
                                                    {{ requisito.requisito.nombre }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ postulante.telefonoParticular }}<br>{{ postulante.telefonoMovil }}</td>
                                        <td>
                                            <a href="{{ path('mtd_postulante_ver', { 'id': postulante.id }) }}" class="btn btn-sm btn-info">
                                                Ver al Postulante
                                            </a>
                                            <a href="{{ path('mtd_postulante_contratar', { 'id': postulante.id, 'idCategoria': categorias.id }) }}" class="btn btn-sm btn-primary">
                                                Contratar
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% for contratacion in postulante.contratacion %}
                                        {% if contratacion.activo == true and contratacion.categoria != categorias.id %}
                                            <tr>
                                                <td><strong>{{ postulante.apellido }}</strong></td>
                                                <td><strong>{{ postulante.nombre }}</strong></td>
                                                <td>{{ postulante.profesion }}</td>
                                                <td>{{ categorias.nombre }}</td>
                                                <td>
                                                    {% for requisito in postulante.empleadoRequisito %}
                                                        {% if requisito.activo == true %}
                                                            {{ requisito.requisito.nombre }}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>{{ postulante.telefonoParticular }}<br>{{ postulante.telefonoMovil }}</td>
                                                <td>
                                                    <a href="{{ path('mtd_postulante_ver', { 'id': postulante.id }) }}" class="btn btn-sm btn-info">
                                                        Ver al Postulante
                                                    </a>
                                                    <a href="{{ path('mtd_postulante_contratar', { 'id': postulante.id, 'idCategoria': categorias.id }) }}" class="btn btn-sm btn-success">
                                                        Ascender
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                    {% endfor %}
                    {% set break = false %}
                    {% for postulante in postulantes %}
                        {% for requisito in postulante.empleadoRequisito if not break %}
                            {% if requisito.activo == true and requisito.requisito.categoria.id == categorias.id %}
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% if break == false %}
                        <h4>No se encontraron empleados para esta categoria</h4>                
                    {% endif %}
                </tbody>    
            </table>
        </div>
    </div>
</div>