{% extends 'layout.html.twig' %}
    
{% block body %}
    {{ parent() }}
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
    
    <section class="jumbotron">
        <div class="container">
            <h2>Postulante: {{postulante.apellido}} {{postulante.nombre}}</h2>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            
            {{ include('menuPostulante.html.twig')}}
            
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">Informacion</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre" class="control-label col-md-3">Apellido del Postulante:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.apellido}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="monto" class="control-label col-md-3">Nombre del Postulante:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.nombre}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="plazo" class="control-label col-md-3">Fecha de Nacimiento:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.fechaNacimiento|date('d-m-Y')}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lugar" class="control-label col-md-3">Lugar:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.lugar.nombre}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cliente" class="control-label col-md-3">Estado Civil:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.estadoCivil }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Numero de Dependientes:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.dependientes}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Cedula de Identidad:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.cedulaIdentidad}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Direccion:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.direccion}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Zona:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.zona}}</p>
                                </div>
                            </div>
                                </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Telefono Particular:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.telefonoParticular}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Telefono Movil:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.telefonoMovil}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Grado Escolaridad:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.gradoEscolaridad}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Profesion:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.profesion}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Otros Cursos:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.otrosCursos}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipo" class="control-label col-md-3">Trabajos Anteriores:</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{postulante.trabajosAnteriores}}</p>
                                </div>
                            </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}