{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <section class="jumbotron">
        <div class="container">
            <h2>Agregar Proyecto</h2>
        </div>
    </section>

    <div class="container">
                {{ form_start(form) }}
                
                    {{form_errors(form)}}
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.nombre, 'Nombre del Proyecto:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.nombre, { 'attr': {'placeholder': 'Escriba un nombre de usuario', 'class': 'form-control inputGroup',
                                                                     'title': 'Minimo 3 caracteres y Maximo 12. Los primeros tres caracteres tienen que ser letras.' } }) }}      
                                    </div>
                                    {{ form_errors(form.nombre) }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.montoContrato, 'Monto del Contrato:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.montoContrato, { 'attr': {'placeholder': 'Escriba su nombre', 'class': 'form-control inputGroup',
                                                                     'title': 'El nombre debe empezar con mayuscula.' } }) }}      
                                    </div>
                                    {{ form_errors(form.montoContrato) }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.plazoEntrega, 'Plazo de Entrega:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.plazoEntrega, { 'attr': {'placeholder': 'Escriba su apellido', 'class': 'form-control inputGroup',
                                                                     'title': 'El apellido debe empezar con mayuscula.' } }) }}      
                                    </div>
                                    {{ form_errors(form.plazoEntrega) }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.lugar, 'Lugar:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.lugar, { 'attr': {'placeholder': 'Escriba su numero de telefono', 'class': 'form-control inputGroup',
                                                                     'title': 'Ingrese solo números validos.' } }) }}      
                                    </div>
                                    {{ form_errors(form.lugar) }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.cliente, 'Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.cliente, { 'attr': {'placeholder': 'Escriba su correo electronico', 'class': 'form-control inputGroup',
                                                                     'title': 'Ingrese un correo valido.' } }) }}      
                                    </div>
                                    {{ form_errors(form.cliente) }}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class ="form-group">
                                    <div class="input-group">
                                        {{ form_label(form.tipo_proyecto, 'Tipo Proyecto:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}
                                        
                                        {{ form_widget(form.tipo_proyecto, { 'attr': {'placeholder': 'Escriba su correo electronico', 'class': 'form-control inputGroup',
                                                                     'title': 'Ingrese un correo valido.' } }) }}      
                                    </div>
                                    {{ form_errors(form.tipo_proyecto) }}
                                </div>
                            </div>
                    </div>
                    <div class ="form-group">
                        <button type="submit" id ="enviar" name="enviar" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Registrar</button>
                    </div>
                
                
                {{form_end(form) }}
                
	</div>
{% endblock %}
                