{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/datepicker.css') }}" /> 
{% endblock %}
    
{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
    <section class="jumbotron">
        <div class="container">
            <h2>Agregar Proyecto</h2>
        </div>
    </section>

    <div class="container">
        
        {{ form_start(form) }}
        {{form_errors(form)}}
        
        <div class="row">
            <div class="col-md-12">
                <div class ="form-group">
                    <div class="input-group">
                        {{ form_label(form.nombre, 'Nombre del Proyecto:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.nombre, { 'attr': {'placeholder': 'Escriba el nombre del proyecto', 'class': 'form-control inputGroup',
                                                     'title': 'El nombre del proyecto tiene que ser unico' } }) }}      
                    </div>
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class ="form-group">
                    <div class="input-group">
                        {{ form_label(form.montoContrato, 'Monto del Contrato:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.montoContrato, { 'attr': {'placeholder': 'Escriba el monto del contrato', 'class': 'form-control inputGroup',
                                                     'title': 'Ingrese el monto del contrato.' } }) }}      
                    </div>
                    {{ form_errors(form.montoContrato) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class ="form-group">
                    <div class="input-group">
                        {{ form_label(form.plazoEntrega, 'Plazo de Entrega:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.plazoEntrega, { 'attr': {'placeholder': 'Elija la fecha de entrega', 'class': 'form-control input-inline datepicker inputGroup',
                                                     'title': 'Ingrese la fecha de entrega.' } }) }}      
                    </div>
                    {{ form_errors(form.plazoEntrega) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class ="form-group">
                    <div class="input-group">
                        {{ form_label(form.lugar, 'Lugar:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.lugar, { 'attr': {'placeholder': 'Escriba el lugar donde se realiza el proyecto', 'class': 'form-control inputGroup',
                                                     'title': 'Ingrese el lugar del proyecto.' } }) }}      
                    </div>
                    {{ form_errors(form.lugar) }}
                </div>
            </div>
        </div>
        <div class="row" id="ventCliente">
            <div class="col-md-6">
                <div class ="form-group">
                    <div class="input-group">

                        {{ form_label(form.cliente, 'Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.cliente, { 'attr': {'placeholder': 'Seleccione el nombre del cliente', 'class': 'form-control inputGroup',
                                                     'title': 'Seleccione el nombre del cliente.' } }) }}     
                    </div>
                    {{ form_errors(form.cliente) }}   
                </div>
            </div>
            <div class="col-md-6">
                <a href="#ventanaCliente" data-toggle="modal">Pulse aqui para agregar un nuevo cliente</a>
            </div>
        </div>
        <div class="row" id="ventTipoProyecto">
            <div class="col-md-6">
                <div class ="form-group">
                    <div class="input-group">
                        {{ form_label(form.tipo_proyecto, 'Tipo Proyecto:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                        {{ form_widget(form.tipo_proyecto, { 'attr': {'placeholder': 'Seleccione el tipo de proyecto', 'class': 'form-control inputGroup',
                                                     'title': 'Seleccione el tipo de proyecto.' } }) }}      
                    </div>
                    {{ form_errors(form.tipo_proyecto) }}
                </div>
            </div>
            <div class="col-md-6">
                <a href="#ventanaTipoProyecto" data-toggle="modal">Pulse aqui para agregar un nuevo tipo de proyecto</a>
            </div>
        </div>
        <div class ="form-group">
            <button type="submit" id ="enviar" name="enviar" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Registrar</button>
        </div>

        {{form_end(form) }}

        <div class="modal fade" id="ventanaTipoProyecto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Registro de un Nuevo Tipo de Proyecto</h4>
                    </div>
                    <div class="modal-body">
                        <div id="mainTipo">

                            <form action="{{ path("mtd_tipoProyecto_registro") }}" method="post" role="form" data-async data-target="#rating-modal" class="text-left">
                                {{form_errors(formularioTipoProyecto)}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioTipoProyecto.nombre, 'Nombre del Tipo de Proyecto:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioTipoProyecto.nombre, { 'attr': {'placeholder': 'Escriba el nombre del tipo de proyecto', 'class': 'form-control inputGroupTipo',
                                                                             'title': 'El nombre del tipo de proyecto debe ser unico.' } }) }}      
                                            </div>
                                            {{ form_errors(formularioTipoProyecto.nombre) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id ="enviarTipoProyecto" name="enviarTipoProyecto" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="ventanaCliente">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Registro de un Nuevo Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div id="main">

                            <form action="{{ path("mtd_cliente_registro") }}" method="post" role="form" data-async data-target="#rating-modal" class="text-left">
                                {{form_errors(formularioCliente)}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioCliente.nombre, 'Nombre del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.nombre, { 'attr': {'placeholder': 'Escriba el nombre del cliente', 'class': 'form-control inputGroup',
                                                                             'title': 'El nombre debe empezar con mayuscula' } }) }}      
                                            </div>
                                            {{ form_errors(formularioCliente.nombre) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioCliente.apellido, 'Apellido del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.apellido, { 'attr': {'placeholder': 'Escriba el apellido del cliente', 'class': 'form-control inputGroup',
                                                                             'title': 'El apellido debe empezar con mayuscula.' } }) }}      
                                            </div>
                                            {{ form_errors(formularioCliente.apellido) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioCliente.direccion, 'Direccion del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.direccion, { 'attr': {'placeholder': 'Escriba la direccion del cliente', 'class': 'form-control input-inline datepicker inputGroup'} }) }}      
                                            </div>
                                            {{ form_errors(formularioCliente.direccion) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioCliente.telefono, 'Telefono del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.telefono, { 'attr': {'placeholder': 'Escriba el telefono del cliente', 'class': 'form-control inputGroup',
                                                                             'title': 'Ingrese números telefonicos validos.' } }) }}      
                                            </div>
                                            {{ form_errors(formularioCliente.telefono) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">

                                                {{ form_label(formularioCliente.nit, 'Nit del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.nit, { 'attr': {'placeholder': 'Escriba el nit del cliente', 'class': 'form-control inputGroup'} }) }}     
                                            </div>
                                            {{ form_errors(formularioCliente.nit) }}   
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="form-group">
                                            <div class="input-group">
                                                {{ form_label(formularioCliente.banco, 'Banco del Cliente:', {'label_attr': {'class': 'input-group-addon addonGroup'}}) }}

                                                {{ form_widget(formularioCliente.banco, { 'attr': {'placeholder': 'Escriba el banco del cliente', 'class': 'form-control inputGroup'} }) }}      
                                            </div>
                                            {{ form_errors(formularioCliente.banco) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer form-group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" id ="enviarCliente" name="enviarCliente" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/fechas/validacionFechas.js') }}"></script>
    <script src="{{ asset('public/js/jquery-datepicker.js') }}"></script>
    <script src="{{ asset('public/js/guardar/guardarCliente.js') }}"></script>
    <script src="{{ asset('public/js/guardar/guardarTipoProyecto.js') }}"></script>
    <script src="{{ asset('public/js/jquery-blockUI.js') }}"></script>
{% endblock %}                