<div class="container ">
    <h2>Empleados para la categoria {{ categorias.nombre }}</h2>
</div><br>
<div class ="container">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Perfil Tecnico</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for postulante in postulantes %}
                        {% if postulante.contratado == true %}
                            {% set romper = false %}
                            {% for empleado in empleadosProyecto if not romper %}
                                {% if postulante.id == empleado.empleado.id %}
                                    {% set romper = true %}
                                {% endif %}
                            {% endfor %}
                            {% if romper == false %}
                                {% set break = false %}
                                {% for contratacion in postulante.contratacion if not break %}
                                    {% if contratacion.categoria == categorias.id and categorias.id == contratacion.categoria and contratacion.activo == true %}
                                        {% set break = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if break == true %}
                                    <tr>
                                        <td><strong>{{ postulante.apellido }}</strong></td>
                                        <td><strong>{{ postulante.nombre }}</strong></td>
                                        <td>{{ categorias.nombre }}</td>
                                        <td>
                                            {% for requisito in postulante.empleadoRequisito %}
                                                {% if requisito.requisito.categoria.id == categorias.id %}
                                                    {{ requisito.requisito.nombre }}<br>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ postulante.telefonoParticular }}<br>{{ postulante.telefonoMovil }}</td>
                                        <td>
                                            <a href="{{ path('mtd_proyecto_empleado_registro', { 'id': postulante.id, 'idProyecto': proyectoSeleccionado.id }) }}" class="btn btn-sm btn-primary">
                                                Agregar al Proyecto
                                            </a>
                                            <a href="{{ path('mtd_empleado_ver', { 'id': postulante.id }) }}" class="btn btn-sm btn-info">
                                                Ver Empleado
                                            </a>
                                        </td>
                                    </tr>      
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
</div>