{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
        
    <section class="jumbotron">
        <div class="container ">
            <center><h1>Administracion de Recursos Humanos - INTERMEC</h1></center>
        </div>
    </section>
        
    <div class="container-fluid full-height">
            
            {{ include('menuListaProyectos.html.twig')}}
            
            <div class="col-md-8">
                <div id="absoluto">
                    <img class="img-responsive" alt="Imagen responsive" src="{{ asset('public/imagenes/intermec.jpg') }}">
                </div>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/eliminar/eliminarProyecto.js') }}"></script>
{% endblock %}