<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>PSGH</th>
                <th>$PSGH</th>
                <th>FALLA</th>
                <th>FERIADO PERDIDO</th>
                <th>$FALLA</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sueldo.psgh}}</td>
                <td><strong>{{ sueldo.pesosPsgh}}</strong></td>
                <td>{{ sueldo.falla}}</td>
                <td>{{ sueldo.feriadoPerdido}}</td>
                <td><strong>{{ sueldo.pesosFalla}}</strong></td>
                <td><strong>{{ total}}</strong></td>
            </tr>
        </tbody>    
    </table>
</div>