{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
        
    <section class="jumbotron">
        <div class="container ">
            <h2>Sueldos y Salarios Emitidos de {{fechaRecibida}}</h2>
        </div>
    </section>
    <div class="container-fluid full-height">
        
        <div class="col-md-12">
            <br>
            {%if sueldos|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Empleado</th>
                                <th>F. Ingreso</th>
                                <th>Categoria</th>
                                <th>S. Basico</th>
                                <th>D. Mes</th>
                                <th>D. no Trabaj.</th>
                                <th>D. Trabaj.</th>
                                <th>H. Extras</th>
                                <th>B. Antiguedad</th>
                                <th>T. Ganado</th>
                                <th>Descuentos</th>
                                <th>Liquido Pagable</th>
                                <th>Premios y Viaticos</th>
                                <th>T. Pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sueldo in sueldos %}
                                <tr>
                                    <td><strong>{{sueldo.empleado.apellido}} {{sueldo.empleado.nombre}}</strong></td>
                                    <td>{{sueldo.sueldo.fechaIngreso|date('d-m-Y')}}</td>
                                    <td>{{sueldo.sueldo.categoria}}</td>
                                    <td>{{sueldo.sueldo.sueldoBasico}}</td>
                                    <td>{{sueldo.sueldo.diasMes}}</td>
                                    <td><a class="linkdiasNoTrabajados" href="#diasNoTrabajados" data-toggle="modal" 
                                        data-id="{{ sueldo.sueldo.id }}">{{sueldo.diasNoTrabajados}}</a></td>
                                    <td><strong>{{sueldo.sueldo.diasTrabajados}}</strong></td>
                                    <td><a class="linkHorasExtras" href="#horasExtras" data-toggle="modal" 
                                        data-id="{{ sueldo.sueldo.id }}">{{sueldo.sueldo.horasExtras}}</a></td>
                                    <td><a class="linkBonoAntiguedad" href="#bonoAntiguedad" data-toggle="modal" 
                                        data-id="{{ sueldo.sueldo.id }}">{{sueldo.sueldo.bonoAntiguedad}}</a></td>
                                    <td><strong>{{sueldo.sueldo.totalGanado}}</strong></td>
                                    <td><a class="linkDescuentos" href="#descuentos" data-toggle="modal" 
                                        data-id="{{ sueldo.sueldo.id }}">{{sueldo.totalDescuento}}</a></td>
                                    <td><strong>{{sueldo.sueldo.liquidoPagable}}</strong></td>
                                    <td><a class="linkPremios" href="#premios" data-toggle="modal" 
                                        data-id="{{ sueldo.sueldo.id }}">{{sueldo.totalPremios}}</a></td>
                                    {% if sueldo.sueldo.modificado == true%}
                                        <td><strong><a href="{{ path('mtd_sueldos_historial', { 'id': sueldo.sueldo.id, 'idEmpleado': sueldo.empleado.id }) }}">{{sueldo.sueldo.totalPagado}} *</a></strong></td>
                                    {%else%}
                                        <td><strong>{{sueldo.sueldo.totalPagado}}</strong></td>
                                    {%endif%}
                                </tr>
                            {%endfor%}
                            <div class="modal fade" id="premios">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Detalle Premios y Viaticos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div id = "tablaPremios"></div>

                                                <div class="modal-footer form-group">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="descuentos">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Detalle Descuentos</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div id = "tablaDescuentos"></div>

                                                <div class="modal-footer form-group">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="bonoAntiguedad">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Detalle Bono Antiguedad</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div id = "tablaBonoAntiguedad"></div>

                                                <div class="modal-footer form-group">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="horasExtras">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Detalle Horas Extras</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div id = "tablaHorasExtras"></div>

                                                <div class="modal-footer form-group">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="diasNoTrabajados">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Detalle Dias No Trabajados</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div id = "tablaDiasNoTrabajados"></div>

                                                <div class="modal-footer form-group">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tbody>    
                    </table>
                </div>
            {%else%}
                <center><h3>No se ha emitido ningun sueldo en este mes</h3></center>
            {%endif%}
        </div>
    </div>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/modificar/detalleSueldo.js') }}"></script>
{% endblock %}