{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/estilos/feriado.css') }}" />
{% endblock %}

{% block body %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
        
    <section class="jumbotron">
        <div class="container ">
            <h2>Asistencia Empleados Administrativos </h2>
        </div>
    </section>
    <div class="container-fluid full-height">
        
        {{ include('menuListaProyectos.html.twig')}}
        
        <div class="col-md-9">
            <br><br>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Apellidos</th>
                            <th>Nombre</th>
                            <th>Fecha de Ingreso</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contratacion in contrataciones %}
                            <tr>
                                <td><strong>{{ contratacion.contratacion.empleado.apellido }}</strong></td>
                                <td>{{ contratacion.contratacion.empleado.nombre }}</td>
                                <td>{{ contratacion.contratacion.fechaIngreso|date('d-m-Y') }}</td>
                                <td>{{ contratacion.categoria.nombre }}</td>
                                <td>
                                    <a href="{{ path('mtd_asistencia_empleado_administrativo', { 'id': contratacion.contratacion.empleado.id }) }}" class="btn btn-sm btn-success">
                                        Registrar Asistencia
                                    </a>
                                    <a href="{{ path('mtd_inasistencia_operativo', { 'id': contratacion.contratacion.empleado.id }) }}" class="btn btn-sm btn-danger">
                                        Registrar Inasistencia
                                    </a>
                                    <a href="#registroFeriado" class="feriado1 btn btn-sm btn-primary" data-id="{{ contratacion.contratacion.empleado.id }}" data-toggle="modal">
                                        Feriado
                                    </a>
                                    <a href="#verAsistenciaAdministrativo" class="asistencia2 btn btn-sm btn-info" data-id="{{ contratacion.contratacion.empleado.id }}" data-toggle="modal">
                                        Ver Asistencia
                                    </a>
                                </td>
                            </tr>

                            <div class="modal fade" id="verAsistenciaAdministrativo">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Asistencia</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="mainLugar">
                                                <form action="{{ path('mtd_asistencia_administrativo_mostrar', { 'id': contratacion.contratacion.empleado.id, 'ano': contratacion.contratacion.empleado.id, 'mes': contratacion.contratacion.empleado.id }) }}" method="post" role="form" data-async data-target="#rating-modal" class="text-left">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class ="form-group">
                                                                <div class="input-group">
                                                                    <label class="input-group-addon addonGroup required" for="fecha">Mes y año:</label>
                                                                    <input type="text" id="mesAsistencia" name="mesAsistencia" required="required" data-provide="datepicker"
                                                                    data-date-format="dd-mm-yyyy" placeholder="Seleccione la fecha de la asistencia" 
                                                                    class="sueldosSalarios feriado form-control input-inline datepicker inputGroup" title="Mes y año de la asistencia">
                                                                    <input type = "hidden" id = "idEmpleadoAdministrativoAsistencia" name = "idEmpleadoAdministrativoAsistencia" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer form-group">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" id ="enviarMes" name="enviarMes" class="btn btn-primary">Buscar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="registroFeriado">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Registro de un Feriado</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="mainLugar">

                                                <form action="{{ path('mtd_asistencia_feriado') }}" method="post" role="form" data-async data-target="#rating-modal" class="text-left">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class ="form-group">
                                                                <div class="input-group">
                                                                    <label class="input-group-addon addonGroup required" for="fecha">Fecha del Feriado:</label>
                                                                    <input type="text" id="fechaFeriado" name="fechaFeriado" required="required" data-provide="datepicker"
                                                                    data-date-format="dd-mm-yyyy" placeholder="Seleccione la fecha de la asistencia" 
                                                                    class=" feriado form-control input-inline datepicker inputGroup" title="Fecha de asistencia">
                                                                    <input type = "hidden" id = "idEmpleado" name = "idEmpleado" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer form-group">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" id ="enviarLugar" name="enviarLugar" class="btn btn-primary">Registrar</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/jquery-datepicker.js') }}"></script>
    <script src="{{ asset('public/js/fechas/fechaAsistencia.js') }}"></script>
    <script src="{{ asset('public/js/guardar/asistenciaFeriado.js') }}"></script>
{% endblock %}