{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/css/datepicker.css') }}" />
    <link rel="stylesheet" href="{{ asset('public/css/clockpicker.min.css') }}" />
    <script src="{{ asset('public/js/jquery.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
    
    <section class="jumbotron">
        <div class="container">
            <h2>Registrar Asistencia de {{empleado.apellido}} {{empleado.nombre}}</h2>
        </div>
    </section>

    <div class="container-fluid">
        
        {{ include('menuEmpleado.html.twig')}}
        
        <div class="col-md-9">
            <br><br>
            
            <form action="{{ path('mtd_asistencia_registro', { 'id': empleado.id }) }}" method="post">
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="fecha">Fecha:</label>
                                <input type="text" id="fecha" name="fecha" required="required" data-provide="datepicker"
                                       data-date-format="dd-mm-yyyy" placeholder="Seleccione la fecha de la asistencia" 
                                       class="form-control input-inline datepicker inputGroup" title="Fecha de asistencia">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="horaIngresoManana">H. Ingreso Mañana:</label>
                                <input type="time" id="horaIngresoManana" name="horaIngresoManana" required="required"
                                       placeholder="Seleccione la hora de ingreso en la mañana" class="form-control input-inline
                                       inputGroup clockpicker pull-center" data-align="top" data-autoclose="true"
                                       title="Hora de ingreso en la mañana" value={{ conf.horaIngresoManana|date('H:i:s') }}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="horaSalidaManana">H. Salida Mañana:</label>

                                <input type="time" id="horaSalidaManana" name="horaSalidaManana" required="required"
                                       placeholder="Seleccione la hora de salida en la mañana"
                                       class="form-control input-inline inputGroup clockpicker pull-center" data-align="top"
                                       data-autoclose="true" title="Hora de salida en la mañana" value={{ conf.horaSalidaManana|date('H:i:s') }}>      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="horaIngresoTarde">H. Ingreso Tarde:</label>
                                <input type="time" id="horaIngresoTarde" name="horaIngresoTarde" required="required"
                                       placeholder="Seleccione la hora de ingreso en la tarde"
                                       class="form-control input-inline inputGroup clockpicker pull-center" data-align="top"
                                       data-autoclose="true" title="Hora de ingreso en la tarde" value={{ conf.horaIngresoTarde|date('H:i:s') }}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="horaSalidaTarde">H. Salida Tarde:</label>
                                <input type="time" id="horaSalidaTarde" name="horaSalidaTarde" required="required"
                                       placeholder="Seleccione la hora de salida en la tarde"
                                       class="form-control input-inline inputGroup clockpicker pull-center" data-align="top"
                                       data-autoclose="true" title="Hora de salida en la tarde" value={{ conf.horaSalidaTarde|date('H:i:s') }}>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="actividades">Actividades:</label>
                                <textarea id="actividades" name="actividades"
                                          placeholder="Escriba las actividades principales que realizo el empleado"
                                          class="form-control inputGroup" title="Actividades principales"></textarea>      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                <select id="proyecto" name="proyecto" required="required" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                    <option value="" selected="selected">Seleccione un Proyecto</option>
                                    {% for proyecto in proyectos %}
                                        <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                <input type="text" id="horasNormales" name="horasNormales" required="required" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                       class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                <input type="text" id="horasExtras" name="horasExtras" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                       class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="oculto1" style='display:none;'>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                    <select id="proyecto1" name="proyecto1" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                        <option value="" selected="selected">Seleccione un Proyecto</option>
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                    <input type="text" id="horasNormales1" name="horasNormales1" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                           class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                    <input type="text" id="horasExtras1" name="horasExtras1" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                           class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="link2">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <a href="#" id="linkProyecto2" name="linkProyecto1">Presione aqui para agregar otro proyecto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="oculto2" style='display:none;'>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                    <select id="proyecto2" name="proyecto2" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                        <option value="" selected="selected">Seleccione un Proyecto</option>
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                    <input type="text" id="horasNormales2" name="horasNormales2" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                           class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                    <input type="text" id="horasExtras2" name="horasExtras2" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                           class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="link3">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <a href="#" id="linkProyecto3" name="linkProyecto1">Presione aqui para agregar otro proyecto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="oculto3" style='display:none;'>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                    <select id="proyecto3" name="proyecto3" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                        <option value="" selected="selected">Seleccione un Proyecto</option>
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                    <input type="text" id="horasNormales3" name="horasNormales3" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                           class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                    <input type="text" id="horasExtras3" name="horasExtras3" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                           class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="link4">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <a href="#" id="linkProyecto4" name="linkProyecto1">Presione aqui para agregar otro proyecto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="oculto4" style='display:none;'>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                    <select id="proyecto4" name="proyecto4" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                        <option value="" selected="selected">Seleccione un Proyecto</option>
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                    <input type="text" id="horasNormales4" name="horasNormales4" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                           class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                    <input type="text" id="horasExtras4" name="horasExtras4" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                           class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="link5">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <a href="#" id="linkProyecto5" name="linkProyecto1">Presione aqui para agregar otro proyecto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="oculto5" style='display:none;'>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="proyecto" class="input-group-addon addonGroup required">Proyecto:</label>
                                    <select id="proyecto5" name="proyecto5" class="form-control inputGroup col-md-5" title="Seleccione un proyecto">
                                        <option value="" selected="selected">Seleccione un Proyecto</option>
                                        {% for proyecto in proyectos %}
                                            <option value="{{ proyecto.id }}">{{ proyecto.proyecto.nombre | trans }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasNormales" class="input-group-addon addonGroup required">Horas Normales:</label>
                                    <input type="text" id="horasNormales5" name="horasNormales5" maxlength="50" placeholder="Horas normales trabajadas en el proyecto"
                                           class="form-control inputGroup" title="Horas normales que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class ="form-group">
                                <div class="input-group">
                                    <label for="horasExtras" class="input-group-addon addonGroup required">Horas Extras:</label>
                                    <input type="text" id="horasExtras5" name="horasExtras5" maxlength="50" placeholder="Horas extras trabajadas del proyecto"
                                           class="form-control inputGroup" title="Horas extras que se trabajo en el proyecto. Ejemplo: 5:30" pattern="[0-9]{1,2}:[0-9]{1,2}$">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="link1">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <a href="#" id="linkProyecto1" name="linkProyecto">Presione aqui para agregar otro proyecto</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="totalHorasNormales">Total Horas Normales:</label>
                                <input type="text" id="totalHorasNormales" name="totalHorasNormales" required="required" maxlength="50"
                                       placeholder="Total Horas Normales" class="form-control inputGroup" title="Total Horas Normales" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class ="form-group">
                            <div class="input-group">
                                <label class="input-group-addon addonGroup required" for="totalHorasExtras">Total Horas Extras:</label>
                                <input type="text" id="totalHorasExtras" name="totalHorasExtras" required="required" maxlength="50"
                                       placeholder="Total Horas Extras" class="form-control inputGroup" title="Total Horas Extras" readonly="readonly">      
                            </div>
                        </div>
                    </div>
                </div>

                <div class ="form-group">
                    <button type="submit" id ="enviar" name="enviar" class="registrarAsistencia btn btn-primary"> Registrar</button>
                </div>
            </form>
            
            <script>
                $(document).ready(function(){
                    $(".registrarAsistencia").click(function(){
                        var fecha = document.getElementById("fecha").value;
                        var split = fecha.split("/");
                        var mes = split[0];
                        var año = split[2];
                        var fechaAsistenciaSueldo = año+"-"+mes+"-01";
                        var fechasueldos = {{ fechaSueldos|json_encode|raw }};
                        for(i=0; i<fechasueldos.length; i++){
                            if(fechasueldos[i] === fechaAsistenciaSueldo){
                                return confirm('¡ATENCION! Esta apunto de emitir una asistencia para un sueldo que ya fue emitido. Si continua el sueldo sera modificado');
                                break;
                            }
                        }
                    });
                });
            </script>
            
        </div>
    </div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/jquery-datepicker.js') }}"></script>
    <script src="{{ asset('public/js/clockpicker.min.js') }}"></script>
    <script src="{{ asset('public/js/fechas/fechaAsistencia.js') }}"></script>
    <script src="{{ asset('public/js/hora/horaAsistencia.js') }}"></script>
    <script src="{{ asset('public/js/modificar/mostrarInput.js') }}"></script>
    <script src="{{ asset('public/js/modificar/sumaHoras.js') }}"></script>
{% endblock %}