{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
        
    <section class="jumbotron">
        <div class="container ">
            <h2>Lista de Empleados Operativos</h2>
        </div>
    </section>
    <div class="container-fluid full-height">
        
        {{ include('menuListaProyectos.html.twig')}}
        
        <div class="col-md-9">
            <br><br>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Apellidos</th>
                            <th>Nombre</th>
                            <th>Fecha de Ingreso</th>
                            <th>Categoria</th>
                            <th>Sueldo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contratacion in contrataciones %}
                            <tr>
                                <td><strong>{{ contratacion.contratacion.empleado.apellido }}</strong></td>
                                <td>{{ contratacion.contratacion.empleado.nombre }}</td>
                                <td>{{ contratacion.contratacion.fechaIngreso|date('d-m-Y') }}</td>
                                <td><strong>{{ contratacion.categoria.nombre }}</strong></td>
                                <td><strong>{{ contratacion.categoria.sueldoBasico }}</strong></td>
                                <td>
                                    <a href="{{ path('mtd_empleado_ver', { 'id': contratacion.contratacion.empleado.id }) }}" class="btn btn-sm btn-info">
                                        Ver Empleado
                                    </a>
                                    {% set break = false %}
                                    {% for proyectoEmpleado in contratacion.contratacion.empleado.proyectoEmpleado if not break %}
                                        {% if proyectoEmpleado.activo == true and proyectoEmpleado.proyecto.terminado == false%}
                                            {% set break = true %}
                                        {% endif%}
                                    {%endfor%}
                                    {% if break == true%}
                                        <a href="{{ path('mtd_empleado_eliminar', { 'id': contratacion.contratacion.empleado.id }) }}" class="btn btn-sm btn-danger btn-delete confirmarEliminacionProyecto">
                                            Eliminar
                                        </a>
                                    {% else %}
                                        <a href="{{ path('mtd_empleado_eliminar', { 'id': contratacion.contratacion.empleado.id }) }}" class="btn btn-sm btn-danger btn-delete confirmarEliminacionEmpleado">
                                            Eliminar
                                        </a>
                                    {%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/eliminar/eliminaPostulante.js') }}"></script>
{% endblock %}