{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script>alert('{{ flashMessage }}');</script>
    {% endfor %}
        
    <section class="jumbotron">
        <div class="container ">
            <h2>Lista de Proyectos en el que participa el empleado {{empleado.apellido}} {{empleado.nombre}}</h2>
        </div>
    </section>
    <div class ="container-fluid">
        
        {{ include('menuEmpleado.html.twig')}}
        
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre del Proyecto</th>
                            <th>Monto del contrato</th>
                            <th>Plazo de Entrega</th>
                            <th>Lugar</th>
                            <th>Tipo de Proyecto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectoEmpleado %}
                            {% if proyecto.activo == true %}
                                <tr>
                                    <td>{{ proyecto.proyecto.nombre }}</td>
                                    <td><strong>{{ proyecto.proyecto.montoContrato }}</strong></td>
                                    <td>{{ proyecto.proyecto.plazoEntrega|date('d-m-Y') }}</td>
                                    <td>{{ proyecto.proyecto.lugar.nombre }}</td>
                                    <td>{{ proyecto.proyecto.tipoProyecto.nombre }}</td>
                                    <td>
                                        <a href="{{ path('mtd_mostrar_proyecto', { 'id': proyecto.proyecto.id }) }}" class="btn btn-sm btn-info">
                                            Ver Proyecto
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if proyectoEmpleado |length < 1 %}
                            <h4>El empleado no esta participando en ningun proyecto</h4>
                        {% endif %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
{% endblock %}